header {
	top: 5%;
	left: 10%;
	width: 80%;
	height: 10%;
	position: absolute;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: 100;
    border-top: solid #008000 2px;
    border-left: solid rgb(0, 128, 0) 2px;
    border-right: solid rgb(0, 128, 0) 2px;
}

nav {
	top: 15%;
	left: 10%;
	width: 15%;
	height: 70%;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
  z-index: 10;
    border-left: solid rgb(0, 128, 0) 2px;
}

footer {
	top: 85%;
	left: 10%;
	width: 80%;
	height: 10%;
	position: absolute;
	overflow-y: hidden;
	overflow-x: hidden;
    border-bottom: solid rgb(0, 128, 0) 2px;
    border-left: solid rgb(0, 128, 0) 2px;
    border-right: solid rgb(0, 128, 0) 2px;
}

footer > h3
{
    color: rgb(166, 166, 166);
	font-family : verdana;
	font-style: oblique;
	font-weight: bold;
	text-align: center;
}

#corpo
{
	/* background-color: #0C0C0C; */
    background-color: rgb(46, 52, 54);
    color: rgb(0, 0, 0) ! important;
	position: absolute;
	top: 15.2%;
	left: 25.2%;
	width: 64.95%;
	height: 69.8%;
	overflow-y: auto;
    border-right: solid rgb(0, 128, 0) 2px;
}

#login
{
	width: 700px;
	height: 600px;
	left: 20%;
	top: 10%;
	position: absolute;
    border: solid 1px rgb(255, 0, 0);
}


body {
    background-image: url('../img/Sfondi/binario.gif');
/*
	color : #A6A6A6;
*/
    color: rgb(255, 255, 255);
	font-family : verdana;
	font-size : 10pt;
  }

summary > img {
	border: 0px;
	height: 18px;
	width: 18px;
}

.login a > img {
	border: 0px;
	height: 18px;
	width: 18px;
}

td, a {
	font-family : verdana;
	font-size : 10pt;
/*
	color : #A6A6A6;
*/
    color: rgb(255, 255, 255);
  }

h1 {
	font-family: verdana, sans-serif;
	font-size: 20pt;
	font-style: oblique;
	font-weight: bold;
    text-shadow: 2px -2px rgb(77, 77, 77);
}
