header {
	top: 5%;
	left: 10%;
	width: 80%;
	height: 10%;
	position: absolute;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: 100;
	border-top: solid green 2px;
	border-left: solid green 2px;
	border-right: solid green 2px;
}

nav {
	top: 15%;
	left: 10%;
	width: 15%;
	height: 70%;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
  z-index: 10;
  border-left: solid green 2px;
}

footer {
	top: 85%;
	left: 10%;
	width: 80%;
	height: 10%;
	position: absolute;
	overflow-y: hidden;
	overflow-x: hidden;
	border-bottom: solid green 2px;
	border-left: solid green 2px;
	border-right: solid green 2px;
}

footer > h3
{
	color: #A6A6A6;
	font-family : verdana;
	font-style: oblique;
	font-weight: bold;
	text-align: center;
}

section#corpo
{
	position: absolute;
	top: 15.2%;
	left: 25.2%;
	width: 64.95%;
	height: 69.8%;
	overflow-y: auto;
	border-right: solid green 2px;
}

section#login
{
	width: 700px;
	height: 600px;
	left: 20%;
	top: 10%;
	position: absolute;
/*
	border: solid 1px red;
*/
}
