#header {
	top: 0%;
	left: 0%;
	width: 99.8%;
	height: 6%;
	position: absolute;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: 100;
/*
	background-color: #1E90FF;
*/
}

#nav {
	top: 6%;
	left: 0%;
	width: 99.8%;
	height: 4%;
	position: absolute;
/*
  background-color: #A52A2A;
*/
}

#corpo
{
	position: absolute;
	top: 10%;
	left: 20%;
	width: 79.6%;
	height: 80%;
	overflow-y: auto;
	padding-left: 2px;
/*
	background-color: #90EE90;
*/
}

#menu-side
{
	position: absolute;
	top: 10%;
	width: 20%;
/*
	background-color: #8B6914;
*/
}

#footer {
	top: 90%;
	left: 0%;
	width: 99.8%;
	height: 10%;
	position: absolute;
	overflow-y: hidden;
	overflow-x: hidden;
/*
	background-color: #BFBFBF;
*/
}

#login
{
	width: 700px;
	height: 600px;
	left: 20%;
	top: 10%;
	position: absolute;
	border: solid 1px red;
}

#search-form
{
	position: relative;
	width: 99.9%;
	height: 18%;
	overflow-y: auto;
	overflow-x: hidden;
}

#search-result
{
	position: relative;
	top: 1%;
	width: 99.9%;
	height: 80%;

	overflow-y: auto;
	overflow-x: hidden;
}
