#popup {
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	border: solid 2px;
	z-index: 100;
	padding: 1px;
	text-align: left;
	display: none;
}

#lsearch {
	position: fixed;
	max-height: 50em;
/*
	width: 600px;
	height: auto;
*/

	overflow-x: hidden;
	overflow-y: auto;

	border: solid 2px;

	z-index: 100;
	padding: 0px;
	display: none;
}

#menu-voci {
	top: -100%;
	left: 0%;
	width: auto;
	height: auto;
	min-width: 220px;
	position: fixed;
	z-index: 100;
}

/* old-conti
#status-bar {
	position: fixed;
	top: 94%;
	left: 71%;
	width: auto;
	height: auto;
	border: solid 1px;
	border-top: solid 1px;
	border-left: solid 1px;
	z-index: 100;
	padding: 5px;
	text-align: right;
}
*/

#wait
{
	position: absolute;
	top: 35%;
	left: 35%;
	width: auto;
	height: auto;

	border: solid 2px;

	z-index: 1000;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
}
