header {
	top: 0%;
	left: 0%;
	width: 99.8%;
	height: 6%;
	position: absolute;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: 100;
/*
	background-color: #1E90FF;
*/
}

#header {
	top: 0%;
	left: 0%;
	width: 99.8%;
	height: 6%;
	position: absolute;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: 100;
/*
	background-color: #1E90FF;
*/
}

nav {
	top: 6%;
	left: 0%;
	width: 99.7%;
	height: 4%;
	position: absolute;
	padding-left: 2px;
/*
  background-color: #A52A2A;
*/
}

#nav {
	top: 6%;
	left: 0%;
	width: 99.7%;
	height: 4%;
	position: absolute;
	padding-left: 2px;
/*
  background-color: #A52A2A;
*/
}

#corpo
{
	position: absolute;
	top: 10%;
	left: 0%;
	width: 99.8%;
	height: 80%;
	overflow-y: auto;
	padding-left: 2px;
/*
	background-color: #90EE90;
*/
}

footer {
	top: 90%;
	left: 0%;
	width: 99.8%;
	height: 10%;
	position: absolute;
	overflow-y: hidden;
	overflow-x: hidden;
/*
	background-color: #BFBFBF;
*/
}

footer > a > img {
	vertical-align: top;
	width: auto ! important;
	height: auto ! important;
/*
	background-color: #BFBFBF;
*/
}

/*
#footer {
	top: 90%;
	left: 0%;
	width: 99.8%;
	height: 10% ! important;
	position: absolute;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: #BFBFBF;
}
*/

#login
{
	width: 700px;
	height: 600px;
	left: 20%;
	top: 10%;
	position: absolute;
/*
	border: solid 1px red;
*/
}

#search-form
{
	position: relative;
	width: 99.6%;
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
}

#search-result
{
	position: relative;
	top: 1%;
	width: 99.6%;
	height: auto;
	padding-left: 2px;
	overflow-y: auto;
	overflow-x: hidden;
}

#edit-bar {
	padding: 5px;
}

