#horizontalmenu
{
	margin: 0;
	padding: 0px;
	list-style: none;
	height: 24px;
	width: 99.9%;
	border-width: 1px 1px 1px 0;
	z-index: 1000;
}

#horizontalmenu li
{
	display: inline;
	position: relative;
	float: left;
	z-index: 1000;
}

#horizontalmenu li a {
	display:block;
	float:left;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	text-decoration: none;
	color: black;
	font-weight: normal;
	font-size: 12px;
	z-index: 1000;
	font-weight: bold;
}

#horizontalmenu li ul
{
	margin:0;
	padding:0 5px;
	line-height: none;
	position: absolute;
	top: 25px;
	left: 0;
	border-width: 0px 1px 1px 1px;
	width: 180px;
	display: none;
	z-index: 1000;
}

#horizontalmenu li:hover ul
{
	display: block;
	z-index: 1000;
}

#horizontalmenu li ul li
{
	display: block;
	width: 95%;
	padding: 0 0 0 10px;
	z-index: 1000;
}

#horizontalmenu li ul li:last-child
{
	border-bottom: 0px;
	z-index: 1000;
}

#horizontalmenu li ul a
{
	border-width: 0px;
	padding:0 5px 0 0;
	background-color: transparent;
	z-index: 1000;
}

li > a > img
{
	width: 16px;
	height: 16px;
	vertical-align: middle;
	border: none;
}

#horizontalmenumini {
    display: none;
    margin: 0;
	padding: 0px;
	height: 24px;
	width: 99.8%;
	z-index: 1000;
    font-size: 12pt ! important;
    
    border: 0;
    -webkit-appearance: menu;
    -moz-appearance: menu;
    text-indent: 0.01px; /* copre la freccia del select */
    text-overflow: '';
    appearance: field;
    /* posiziono la freccia del select come immagine */
    background-color: white;
    background-image: url( '../img/ArrowDownInactive.png' );
    background-repeat: no-repeat;
    background-position: right;
}

/*
#horizontalmenumini optgroup, option {
    font-size: 12pt ! important;
}

select#horizontalmenumini {
    font-size: 12pt 
}*/


/* fino a 799px mostra il menu compatto */
@media screen and ( max-width: 799px )
{
/*    body {
        background-color: #808000 ! important;
    }*/
    
    #horizontalmenu 
    {
        display: none;
    }
    
    #horizontalmenumini 
    {
        display: block;
    }
}

/* da 800px in poi mostra il menu orizzontale */
@media screen and ( min-width: 800px )
{
/*    body {
        background-color: black ! important;
    }*/
    #horizontalmenu 
    {
        display: block;
    }
    
    #horizontalmenumini 
    {
        display: none;
    }
}