html, body {
	padding: 0;
	margin: 0;
	width: 1980px;
	height: 1024px;
	min-height: 100%;
	/* font-family: monospace, verdana, sans-serif;
	font-style: normal;
	font-size : 9pt; */
}

#BorterInside {
	width: 100%;
	height: 100%; 
	background-color: white;
	text-align: center;
	overflow-y: hidden;
	overflow-x: hidden;
}

#main1 {
	width: 100%;
	height: 50%; 
	float: left; 
	background-color: white;
	text-align: center;
	overflow-y: hidden;
	overflow-x: hidden;
	overflow-x: hidden;
}

#main2 {
	width: 100%;
	height: 50%; 
	float: left; 
	background-color: white;
	text-align: center;
	overflow-y: hidden;
	overflow-x: hidden;
	overflow-x: hidden;
}

#ContentArea1 {
	width: 33.333%;
	height: 100%; 
	float: left; 
	background-color: white;
	text-align: center;
	overflow-y: hidden;
	overflow-x: hidden;
}

#ContentArea2 {
	width: 33.333%;
	height: 100%; 
	float: left; 
	background-color: white;
	text-align: center;
	overflow-y: hidden;
	overflow-x: hidden;
}

#ContentArea3 {
	width: 33.333%;
	height: 100%; 
	float: left; 
	background-color: white;
	text-align: center;
	overflow-y: hidden;
	overflow-x: hidden;
}

#ContentArea4 {
	width: 33.333%;
	height: 100%; 
	float: left; 
	background-color: white;
	text-align: center;
	overflow-y: hidden;
	overflow-x: hidden;
}

#ContentArea5 {
	width: 33.333%;
	height: 100%; 
	float: left; 
	background-color: white;
	text-align: center;
	overflow-y: hidden;
	overflow-x: hidden;
}

#ContentArea6 {
	width: 33.333%;
	height: 100%; 
	float: left; 
	background-color: white;
	text-align: center;
	overflow-y: hidden;
	overflow-x: hidden;
}
