.expander {
	height: 1.6em;
	border: 1px solid #CFD49E;
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	margin: 0px 0px 0px 0px;
	/* background-color : #E3E5CF; */
	background-color : #FFFFFF;

	color: black;
	font-family: arial, sans-serif ! important;
	font-style: normal;
	font-size: 9pt;
}

div	{
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: transparent;
}

td {
  color: black;
  font-family: arial, sans-serif ! important;
  font-size: 9pt;
  font-style: normal;
  font-weight : normal;
}

legend {
	font-family: arial, sans-serif;
	font-size: 12pt;
	font-style: oblique;
	font-weight: bold;
	color: black;
}

table {
	padding: 1px 1px 1px 1px;
	border-spacing: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
}

label {
	font-size: 9pt;
    font-weight : bold;
	color: black;
}

.note {
	font-size: 9pt;
	font-weight: bold;
	font-style: oblique;
	color: grey ! important;
}

.ok {
	font-size: 9pt;
	font-weight : bold;
	color: green ! important;
}

.ok_status {
	font-size : 12pt;
  font-weight : bold;
	font-style: oblique;
	color: green ! important;
}

.err {
	font-size: 9pt;
    font-weight: bold;
	color: red ! important;
}

.imm {
	font-size: 9pt;
    font-weight : bold;
	color: cyan ! important;
}

.err_status {
	font-size : 12pt;
  font-weight : bold;
	font-style: oblique;
	color: red ! important;
}

a {
	font-size: 9pt;
    font-weight: bold;
	color: black;
	text-decoration: underline;
	cursor: pointer;
}

.dettaglio a {
	font-size: 9pt;
	font-weight: normal ! important;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.dettaglio a:hover {
	font-size: 9pt;
  font-weight: normal;
	color: black;
	text-decoration: underline;
	cursor: pointer;
}

.dettaglio th > a {
	font-size: 9pt;
    font-weight : bold;
	color: black;
	text-decoration: underline;
	font-style: oblique;
	cursor: pointer;
}

.dettaglio th > a:hover {
	font-size: 9pt;
    font-weight : bold;
	color: black;
	text-decoration: underline;
	font-style: oblique;
	cursor: pointer;
}

.dettaglio tr:hover {
	/* background-color: #DFE6A1 ! important; */
	background-color: #E5E5E5 ! important;
}

.dettaglio div:hover {
	/* background-color: #DFE6A1 ! important; */
	background-color: #E5E5E5 ! important;
}

input {
	font-style: normal ! important;
	font-family: arial, sans-serif ! important;
	font-size: 9pt ! important;
}

input:focus {
	background-color: #DFE6A1;
}

textarea {
	font-style: normal ! important;
	font-family: arial, sans-serif ! important;
	font-size: 9pt ! important;
}

select {
	font-style: normal ! important;
	font-family: arial, sans-serif ! important;
  font-size: 9pt ! important;
}

h5 {
	font-family: arial, sans-serif;
	font-size: 9pt;
	font-style: oblique;
	font-weight: bold;
	color: black;
}

.dettaglio th {
	/* impostato per coprire l'effetto hover su questi campi */
	font-style: normal ! important;
	/* background-color : #E3E5CF; */
	background-color : #FFFFFF;
	color : black;
	font-size: 9pt;
	font-weight : bold;
	text-align: left;
	font-variant: normal;
}

.dettaglio input {
	text-align: right;
}

.dettaglio tr {
	/* background-color: #E3E5CF; */
	background-color: #FFFFFF;
}


.dettaglio tr:hover {
/*
	background-color: #DFE6A1;
*/
	background-color: #E5E5E5;
	border: 1px solid #CFD49E;
}

.dettaglio td
{
    color: black;
    font-family: arial, sans-serif;
    font-size: 9pt;
}

.login th {
	text-align: left;
	color: black;
	font-size : 14pt;
	font-style: oblique;
	font-weight: bold;
}

.login td {
	text-align: right;
	font-size: 9pt;
    font-weight : bold;
    font-variant : normal;
    font-style : normal;
	color : black;
}

.selected td {
	/* background-color: #DFE6A1; */
	background-color: #E5E5E5;
	border: 1px solid #CFD49E;
}

.header table {
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.header td {
	color: black;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 9pt;
}

.header th {
	font-family: arial, sans-serif;
	font-size: 20pt;
	font-style: oblique;
	font-weight: bold;
	color: black;
}

.header a > img {
	border: 0px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	cursor: pointer;
}

.header a
{
	font-size: 9pt;
	font-weight : bold;
	color: green ! important;
	cursor: pointer;
	text-decoration: none;
}

.form th {
	font-family: arial, sans-serif;
	text-align: left;
	font-size: 12pt;
	font-style: oblique;
	font-weight: bold;
	color: black;
}

#edit-bar {
	font-family: arial, sans-serif;
	text-align: left;
	font-size: 12pt;
	font-style: oblique;
	font-weight: bold;
	color: black;
}

.form a {
	font-family: arial, sans-serif;
	text-align: left;
	font-size: 9pt;
	font-style: oblique;
	font-weight: bold;
	color: black;
}

.form th > img {
	border: 0px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.form a > img {
	border: 0px;
	width: 14px ! important;
	height: 14px ! important;
	vertical-align: middle;
	cursor: pointer;
}

a > img {
	border: 0px;
	width: 14px ! important;
	height: 14px ! important;
	vertical-align: middle;
	cursor: pointer;
}

.dettaglio img {
	border: 0px;
	width: 14px;
	height: 14px;
	vertical-align: middle;
}

.menu img {
	border: 0px;
	width: 14px;
	height: 14px;
	vertical-align: middle;
}

.form td > a {
	font-size: 9pt;
 	font-weight : normal;
	text-decoration : none;
   	font-style: normal;
	color: black;
	cursor: pointer;
}

.form td > a:hover {
	font-size: 9pt;
	font-weight : normal;
	font-style: normal;
	color: black;
	text-decoration: underline;
	cursor: pointer;
}

.dettaglio td:hover #image {
	position: absolute;
	left: 50%;
}

.footer-credit img {
	border: 0px;
	vertical-align: middle;
}

.footer-credit a {
	text-decoration: none;
}

.alert {
  font-size: 9pt;
  font-weight : bold;
	color: red;
  text-decoration: blink;
}

.call_comp {
	font-weight : bold;
    color: green ! important;
}

.call_cors {
	font-weight : bold;
	color: red ! important;
}

.call_pian {
	font-weight : bold;
    color: orange ! important;
}

.call_sosp {
	font-weight : bold;
    color: gray ! important;
}

dl {
	padding: 5px;
}

dt {
	font-weight : bold;
}

dd, li > img {
	border: 0px;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	cursor: pointer;
}

#wait, #popup, #menu-voci, #lsearch
{
	border-color: #BFBFBF ! important;
	background-color: #FFFFFF ! important;
}

#search-form
{
	border: 1px solid black ! important;
}

#search-result
{
	 border: 1px solid black ! important;  /* #1E90FF */
}

#res-row
{
	background-color: #D7D9C4;
}

/* Stile menu orizzontale */
#horizontalmenu
{
	border: solid 1px black;
}

#horizontalmenu li a {
/*
	border-left:solid 1px #A020F0;
*/
}

#horizontalmenu li a:hover {
	color: #a9401b;
	background:#FFFFFF;
}

#horizontalmenu li ul {
	border: solid 1px #c93300;
	background: #FFFFFF;
}

#horizontalmenu li:hover a
{
	color: #a9401b;
	background: #FFFFFF;
}

#horizontalmenu li ul li
{
	border-bottom:solid 1px #dbdcd9;
}

#horizontalmenu li ul a
{
	color: #909090;
}

#horizontalmenu li:hover ul li a
{
/* COLORE STATICO VOCI */
	color: #909090;

}

#horizontalmenu li ul li a:hover
{
/*
 COLORE VOCE SELEZIONATA
*/
	color: #a9401b;
}
/* Stile menu orizzontale FINE */
